@charset "utf-8";
/* CSS Document */
*{
	color: white;
	font-family: 'Roboto', sans-serif;
}

html, body{
	background-color: #111;
}

html { 
  background: url(img/Logo/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo{
	color: #e5c100;
	margin-top: 0px;
}

.profilepic>img{
	border-radius: 90px;
}

.menu-tab{
	color: #FAFAFA;
}

.radio-text{
	font-size: 30px
}

.jumbo-profile{
	height: 384px;
}

.jumbo-intro{
	height: 384px;
}

.jumbo-tron
{
	visibility: hidden;
	position: absolute;	
}

.jumbotron{
	background-color: #222;
}

.jumbotron-inverse{
	background-color: #414141;
	color: #222;
}

.summoner-input{
	background: none;
	border: 1px solid #e5c100;
	color: #FAFAFA;
	font-size: 35px;
	text-align: center;
	padding: 30px;
	outline: none;
}

.summoner-input:focus{
	outline: none;
}

.champions>img{
	border-radius: 10px;
}

.bg-title{
	font-size: 36px;
	padding: 25px;
}





